BIND_ADDR=127.0.0.1:29701
LOGIN_SUCCESS_TARGET=http://127.0.0.1:29701/user/submits
# RUST_LOG=review_sys=trace,tower_http::trace=debug,axum::serve=trace,info
# RUST_LOG=review_sys=trace,axum::serve=trace,info
RUST_LOG=review_sys=trace,info
# RUST_LOG=trace
DATABASE_PATH=./database.db
