BIND_ADDR=127.0.0.1:29701
REDIR_PREFIX=http://127.0.0.1:29701
# RUST_LOG=harmonius_choir_lite=trace,tower_http::trace=debug,axum::serve=trace,info
# RUST_LOG=harmonius_choir_lite=trace,axum::serve=trace,info
RUST_LOG=harmonius_choir_lite=trace,info
# RUST_LOG=trace
DATABASE_PATH=./database.db
