body {
  padding: var(--10unit);
  line-break: anywhere;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  background-color: var(--bgLight);
  padding: var(--15unit);
  border-radius: var(--5unit);
  box-sizing: border-box;
  width: min(100%, var(--400unit));

  display: flex;
  flex-direction: column;
  gap: var(--30unit);
}

.field {
  display: flex;
  flex-direction: column;

  padding: var(--10unit);
  gap: var(--10unit);
  background-color: var(--bgDark);

  line-break: anywhere;
}

.field > input {
  max-width: var(--300unit);
  color: var(--txt);

  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
}

.field > input::placeholder {
  color: var(--txtSec);
}
