:root {
  --txt: #cccccc;
  --txtSec: #808080;

  --bgDark: #0a0a0a;
  --bgLight: #161616;
  --bgLightSec: #202020;

  --stroke: #444444;

  --txtOk: #9be975;
  --txtErr: #f36969;
  --txtInfo: #227add;
  --bgErr: #e75e5f;

  --theme: #79c551;

  --1unit: 0.0625rem;
  --2unit: calc(var(--1unit) * 2);
  --3unit: calc(var(--1unit) * 3);
  --5unit: calc(var(--1unit) * 5);
  --10unit: calc(var(--1unit) * 10);
  --14unit: calc(var(--1unit) * 14);
  --15unit: calc(var(--1unit) * 15);
  --16unit: calc(var(--1unit) * 16);
  --20unit: calc(var(--1unit) * 20);
  --25unit: calc(var(--1unit) * 25);
  --30unit: calc(var(--1unit) * 30);
  --40unit: calc(var(--1unit) * 40);
  --80unit: calc(var(--1unit) * 80);
  --100unit: calc(var(--1unit) * 100);
  --200unit: calc(var(--1unit) * 200);
  --250unit: calc(var(--1unit) * 250);
  --300unit: calc(var(--1unit) * 300);
  --400unit: calc(var(--1unit) * 400);
  --420unit: calc(var(--1unit) * 420);
  --500unit: calc(var(--1unit) * 500);
  --700unit: calc(var(--1unit) * 700);
  --800unit: calc(var(--1unit) * 800);

  color: var(--txt);
  background-color: var(--bgDark);

  font-family: sans-serif;
  font-size: 16px;
}

.txt {
  color: var(--txt);
}

.txtSec {
  color: var(--txtSec);
}

.txtErr {
  color: var(--txtErr);
}

.txtOk {
  color: var(--txtOk);
}

.txtInfo {
  color: var(--txtInfo);
}

.dyn {
  display: contents;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: auto;
}

.clickable {
  user-select: none;
  cursor: pointer;
}
