{% extends "base.html" %}

{% block title -%}
  提交试音
{%- endblock %}

{% block head -%}
  {% include "buttonInclude.html" %}
  {% include "selectorInclude.html" %}
  <link href="/static/pages/user/submit.css?h={{ env!("AH_PAGES_USER_SUBMIT_CSS") }}" rel="stylesheet" />
{%- endblock %}

{% block content %}
  <form id="formSubmit" action="" method="post" enctype="multipart/form-data">
    <div class="field">
      <label for="file">文件</label>
      <input type="file" id="file" name="file" required>
    </div>
    <div class="field">
      <label for="signature">署名</label>
      <input type="text"
        id="signature"
        name="signature"
        required
        minlength="1"
        maxlength="20"
        value="{{ prev_signature }}"
        placeholder="输入"
        >
    </div>
    <div class="field">
      <label for="comment">备注 (可选)</label>
      <textarea type="text"
        id="comment" name="comment"
        placeholder="输入"></textarea>
    </div>
    <div>
      <label for="hgi">和声组意向</label>
      <input type="hidden" id="hgi" name="hgi" value="0">
      <comp-selector id="selHgi">
        <button data-selected type="button">无</button>
        <button type="button">有</button>
      </comp-selector>
    </div>
    <div id="btnSubmit">
      <button class="button theme">提交</button>
    </div>
    <script type="module">
      import { init } from "/static/pages/user/submit.js\
?h={{ env!("AH_PAGES_USER_SUBMIT_JS") }}";
      init(formSubmit, selHgi,
      {{ size_min }}, "{{ size_min | filesizeformat }}",
      {{ size_max }}, "{{ size_max | filesizeformat }}");
    </script>
  </form>
{% endblock %}
