:root {
  display: flex;
  justify-content: center;
}

body {
  width: min(100%, var(--400unit));
  padding: var(--10unit);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--10unit);
}

body > div {
  background-color: var(--bgLight);
  padding: var(--10unit);
  border-radius: var(--5unit);
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header > div:last-child {
  display: flex;
  gap: var(--5unit);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--5unit);
}

.item > div:not(.textBox) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item > div:nth-child(2) > div:first-child {
  display: flex;
  gap: var(--2unit);
}

.textBox {
  display: flex;
  flex-direction: column;

  padding: var(--10unit);
  gap: var(--10unit);
  background-color: var(--bgDark);

  line-break: anywhere;

  max-width: var(--400unit);
}

.textBox > span:first-child {
  color: var(--txtSec);
  font-size: var(--14unit);
}

.textBox > div {
  white-space-collapse: preserve;
}
